:root{
    --primary-color: #192a32;
    --secondary-color: #A8BEC9;
    --blue: #31C4BE;
    --orange: #f2b236;
    --btn-shadow: #718794;
    --def-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    font-family: var(--def-font);
    color: var(--secondary-color);
    min-width: 480px;
    padding: 0 100px;
    min-height: 100vh;
}

button{
    background-color: var(--secondary-color);
    font-family: inherit;
    font-weight: bolder;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 4px var(--btn-shadow);
    position: relative;
    top: 0px;
    transition: 0.1s all;
    cursor: pointer;
    margin: 10px;
}

li{
    margin: 0px 30px; 
}

.title{
    color: var(--orange);
}

button:hover{
    opacity: 0.8;
}

button:active{  
    box-shadow: 0px -4px var(--secondary-color);
    position: relative;
    top: 4px;
    background-color: var(--btn-shadow);
}

button:disabled{
    background-color: var(--btn-shadow);
    box-shadow: none;
    color: var(--secondary-color);
    cursor: not-allowed;
}

#machineInput, #inputString{
    border: none;
    background-color: var(--secondary-color);
    box-shadow: 0px 0px 5px var(--blue);
    resize: none;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

#machineInput{
    height: 200px;
}

#speedInput{
    accent-color: var(--blue);
}

.inputs{
    display: grid;
    grid-template-columns: 1.2fr 0.9fr 0.9fr;
    justify-content: center;
}

.read, .control{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.validation {
    color: var(--blue);
    visibility: hidden;
}

.error-cover{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: 0.2s opacity;
    z-index: -1;
}

.error-details{
    color: rgb(255, 75, 75);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: 0.2s opacity;
    z-index: -1;
}

/** GUI **/
.gui{
    height: 150px;
    margin: 20px 0;
    overflow: hidden;
    text-align: center;
}

.gui .string{
    display: flex;
    transform: translateX(calc(50% - 14px));
    transition: 0.1s transform;
}

.gui .string *{
    min-height: 1em;
    font-weight: bold;
    border: solid 5px var(--blue);
    padding: 0 10px;
    text-align: center;
}

.gui .head svg{
    fill: var(--orange);
    scale: 3;
}

.gui .head{
    margin-bottom: 20px;
}

.gui .stack { 
    display: flex;
    justify-content: center;
}

.gui .stack *{
    min-height: 1em;
    font-weight: bold;
    border: solid 5px var(--blue);
    padding: 0 10px;
    text-align: center;
}